.btn-double-border {
	position: relative;
	padding: em(15) em(65);
	border: solid 1px $color-secondary;
	display: inline-block;
	text-align: center;
	text-decoration: none;
	transition: all .2s;
	span {
		color: white;
		font-size: $font-size-base;
		text-transform: uppercase;
		text-align: center;
		text-decoration: none;
		transition: all .2s;
	}
	&:after {
		content: '';
		display: block;
		width: 100%;
		height: 100%;
		top: 3px;
		left: -5px;
		position: absolute;
		border: solid 1px $color-secondary;
		transition: all .2s;
		z-index: -1;
	}
	&:hover {
		background-color: $color-secondary;
		&:after {
			border-color: white;
		}
	}
}
.btn-small {
	position: relative;
	padding: em(12) em(20);
	border: solid 1px white;
	display: inline-block;
	text-align: center;
	text-decoration: none;
	transition: all .2s;
	span {
		color: $color-primary-light;
		font-size: $font-size-small;
		text-transform: uppercase;
		text-align: center;
		text-decoration: none;
	}
	&:hover {
		background-color: $color-primary-light;
		span {
			color: white;
		}
	}
}