/************************************************
Main Nav
************************************************/

header {
	width: 100%;
	background: linear-gradient(to right, #394760 0%,#576c92 50%,#394760 100%);
	height: em(90);
	display: flex;
	align-items: center;
	position: relative;
	flex-wrap: wrap;
	position: relative;
	z-index: 5;
	&:before {
		position: absolute;
		width: 100%;
		content: '';
		height: em(90);
		background: linear-gradient(to right, #394760 0%,#576c92 50%,#394760 100%);
		display: none;
		z-index: 3;
	}
	@media (max-width: $bp-desktop) {
		font-size: 90%;
	}
	@media (max-width: $bp-laptop) {
		display: block;
		min-height: em(90);
		height:0;
		background: none;
		position: absolute;
		top: 0;
		z-index: 4;
		&:before {
			display: block;
		}
		box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.23);
	}
}
.nav-flex {
	display: flex;
	flex-grow: 1;
	align-items: center;
	height: 100%;
	justify-content: space-between;
	position: relative;
	@media (max-width: $bp-laptop) {
		transform: translateX(101%);
		width: 100%;
		height: auto;
		z-index: 2;
		display: block;
		transition: transform .3s, visibility 0s .3s, width 0s .3s;
		visibility: hidden;
		width: 0;
	}
}
.js-nav-open .nav-flex {
	@media (max-width: $bp-laptop) {
		transform: translateX(0);
		transition: transform .3s, visibility 0s 0s, width 0s 0s;
		visibility: visible;
		width: 100%;
	}
}
.main-nav {
	height: 100%;
	display: flex;
	justify-self: flex-start;
	padding: 0;
	margin: 0;
	order: 1;
	li {
		height: 100%;
		list-style: none;
		display: flex;
		transition: background .4s;
		position: relative;
		&:after {
			content: '';
			width: 1px;
			background: rgba(255,255,255,0.1);
			border-right: solid 1px rgba(0,0,0,0.3);
			height: 100%;
			transition: all .2s;
		}


		  &:hover, &.js-sub-nav-open {
			background: rgba(0,0,0,0.2);
			.main-nav-item {
				color: $color-secondary;
				&:after {
					transform: rotate(180deg);
				}
			}
		}
	}
	@media (min-width: $bp-laptop) {
			li {
				&:hover {
				ul.sub-nav-list { 
				visibility: visible;
				transform: scaleY(1);
				transition: visibility 0ms 0ms, transform 300ms 0s;
				li { 
					opacity: 1;
					transition-delay: 300ms;
					
				}
			}
		}
		}
		}

	@media (max-width: $bp-laptop) {
		flex-direction: column;
		background-color: lighten($color-primary, 10%);
		display: block;
		li {
			display: block;
			height: auto;
			&:after {
				display: none;
			}
		}
	}
}
.main-nav-item {
	text-decoration: none;
	text-transform: uppercase;
	color: white;
	font-size: $font-size-base;
	letter-spacing: -0.025em;
	display: flex;
	align-items: center;
	height: 100%;
	padding: 0 em(25);
	background: rgba(255,255,255,0);
	transition: color .2s;
	@media (max-width: $bp-laptop) {
		padding: em(15) em(25);
		display: block;
		border-bottom: solid 1px rgba(0,0,0,0.3);
		width: 100%;
		font-size: 16px;
		position: relative;
		&:after {
			position: absolute;
			right: 15px;
			top: 0;
			bottom: 0;
			margin: auto;
		}
	}
}

/************************************************
Site Logo
************************************************/

.site-logo {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	padding: 0 em(25);
	position: relative;
	z-index: 4;
	transition: all .3s;
	&:after {
		content: '';
		width: 1px;
		background: rgba(255,255,255,0.1);
		border-right: solid 1px rgba(0,0,0,0.3);
		height: 100%;
		transition: all .2s;
		transform: translateX(em(25));
	}
	svg, img {
		height: 40%;
		width: auto;
		display: block;
		transition: transform .3s;
		will-change: transform;
	}
	 &:hover {
		background: $color-accent;
		svg {
			path {
				fill: $color-secondary;
			}
		}
	}
	@media (max-width: $bp-laptop) {
		float: left;
		height: em(90);
		padding: em(5) em(25);
		&:after {
			display: none;
		}
	}
}

/************************************************
Search Bar
************************************************/

.search-bar {
	height: 100%;
	display: flex;
	align-items: center;
	padding-right: em(25);
	order: 2;
	@media (max-width: $bp-laptop) {
		width: 100%;
		padding: em(25);
		height: auto;
		background-color: darken($color-primary, 5%);
		&:before {
			display: none;
			width: 100%;
		}
	}
	
}
.search-input {
	height: em(40);
	position: relative;
	padding-left: em(25);
	input[type=text] {
		outline: none;
		height: 100%;
		width: em(280);
		background: rgba(255,255,255,0.1);
		border: solid 1px rgba(255,255,255,0.1);
		padding: 0 em(45) 0 em(10);
		color: white;
		font-size: $font-size-small;
		transition: all .3s;
		&:focus {
			background: rgba(255,255,255,0.2);
			border: solid 1px $color-primary-light;
		}
	}
	svg {
		position: absolute;
		width: em(18);
		height: em(25);
		display: block;
		top: 0;
		bottom: 0;
		margin: auto;
		right: em(15);
		path {
			fill: $color-primary-light;
			transition: fill .3s;
		}
	}
	&.search-focus {
		svg path {
			fill: white;
		}
	}
	@media (max-width: $bp-laptop) {
		padding-left: 0;
		width: 100%;
		input[type=text] {
			width: 100%;
		}
	}
}

/************************************************
Sub Nav
************************************************/

.sub-nav-list {
	visibility: hidden;
	list-style: none;
	display: block;
	position: absolute;
	top: em(90);
	left: 0;
	background-color: $color-primary;
	z-index: 900;
	transform: scaleY(0);
	transform-origin: top;
	transition: visibility 0ms 600ms, transform 200ms .1s;
	min-width: 100%;
	will-change: transform;
	padding: 0;
	border-top: 0;
	@media (max-width: $bp-laptop) {
		position: static;
		max-height: 0;
		transition: visibility 0ms 0ms;
		.js-sub-nav-open & {
			visibility: visible;
			transform: scaleY(1);
			max-height: 9999px;
			transition: visibility 0ms 0ms;
			li { 
				opacity: 1;
				transition-delay: 300ms;
			}
		}
		.sub-nav-list-item a {
			border-bottom: solid 1px $color-primary;
			padding: em(15) em(25);

		}
	}
}
.sub-nav-list-item {
	text-align: left;
	border-bottom: solid 1px darken($color-primary, 5%);
	opacity: 0;
	transition: opacity 150ms 0ms;
	line-height: 1.2;
	font-size: $font-size-small;
	&:last-of-type {
		border-bottom: none;
	}
	@media (max-width: $bp-laptop) {
		position: relative;
		border-bottom: 0;
		opacity: 1;
	}
	@media (min-width: $bp-laptop) {
				&:hover {
				ul.sub-menu { 
				visibility: visible;
				transform: translateX(100%) scaleX(1);
				transition: visibility 0ms 0ms, transform 300ms 0s;
				li { 
					opacity: 1;
					transition-delay: 300ms;
					
				}
			}
		}
	}
}
.sub-nav-list-item a {
	padding: em(15);
	color: white;
	display: block;
	white-space: nowrap;
	text-decoration: none;
	transition: all .3s;
	width: 100%;
	background: rgba(0,0,0,0.0);
	 &:hover {
		background: rgba(0,0,0,0.1);
		color: $color-secondary;
	}
	@media (max-width: $bp-laptop) {
		border-bottom: solid 1px $color-primary;
		padding: em(15) em(25);
	}
}

/************************************************
Sub Menu
************************************************/

.sub-menu {
	visibility: hidden;
	list-style: none;
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	transform: translateX(100%) scaleX(0);
	background-color: darken($color-primary, 5%);
	z-index: 900;
	transform-origin: left;
	transition: visibility 0ms 600ms, transform 200ms .1s;
	min-width: 100%;
	will-change: transform;
	padding: 0;
	border-top: 0;
	@media (max-width: $bp-laptop) {
		position: static;
		max-height: 0;
		transition: visibility 0ms 0ms;
		transform: translateX(0) scaleX(1) scaleY(0);
		.js-sub-nav-open & {
			visibility: visible;

			transform: scaleY(1);
			max-height: 9999px;
			transition: visibility 0ms 0ms;
			li { 
				opacity: 1;
				transition-delay: 300ms;
			}
		}
		.item a {
			border-bottom: solid 1px $color-primary;
			padding: em(15) em(25);

		}
	}
}
.item {
	text-align: left;
	border-bottom: solid 1px darken($color-primary, 10%);
	opacity: 0;
	transition: opacity 150ms 0ms;
	line-height: 1.2;
	font-size: $font-size-small;
	&:last-of-type {
		border-bottom: none;
	}
	@media (max-width: $bp-laptop) {
		position: relative;
		border-bottom: 0;
		opacity: 1;
		padding-left: 10px;
	}
}
.item a {
	padding: em(15);
	color: white;
	display: block;
	white-space: nowrap;
	text-decoration: none;
	transition: all .3s;
	width: 100%;
	background: rgba(0,0,0,0.0);
	 &:hover {
		background: rgba(0,0,0,0.1);
		color: $color-secondary;
	}
	@media (max-width: $bp-laptop) {
		border-bottom: solid 1px $color-primary;
		padding: em(15) em(25);
	}
}

/************************************************
Secondary Nav
************************************************/

.secondary-nav {
	width: 100%;
	background-color: $color-primary-dark;
	height: em(50);
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
	z-index: 2;
	box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.23);
	@media (max-width: $bp-laptop) {
		flex-direction: column;
		background-color: lighten($color-primary, 10%);
		border-bottom: 0;
		height: auto;
		transform: translateX(101%);
		display: block;
		transition: transform .3s, visibility 0s .3s, width 0s .3s;
		visibility: hidden;
		width: 0;
		box-shadow: 0;
	}
}
.js-nav-open .secondary-nav {
	@media (max-width: $bp-laptop) {
		transform: translateX(0);
		transition: transform .3s, visibility 0s 0s, width 0s 0s;
		visibility: visible;
		width: 100%;
	}
}
.secondary-nav-list {
	height: 100%;
	display: flex;
	padding: 0;
	padding-left: em(25);
	> li {
		height: 100%;
		list-style: none;
		display: flex;
		transition: background .4s;
		position: relative;
		a {
			display: flex;
			align-items: center;
			height: 100%;
			background: rgba(255,255,255,0);
			transition: color .2s;
		}
		ul {
			top: em(50);
		}
		 &:hover { 
			> a {
				color: $color-secondary;
				&:after {
					transform: rotate(180deg);
				}
			}
		}
	}
	@media (min-width: $bp-laptop) {
		 li {
		 	&:hover { 
			ul.sub-nav-list { 
				visibility: visible;
				transform: scaleY(1);
				transition: visibility 0ms 0ms, transform 300ms 0s;
				li { 
					opacity: 1;
					transition-delay: 300ms;
				}
			}
		}
	}
	}
	@media (max-width: $bp-laptop) {
		padding-left: 0;
		display: block;
		width: 100%;
		margin: 0;
		li {
			height: auto;
			display: block;
			position: relative;
		
			  &:hover, &.js-sub-nav-open {
				background: rgba(0,0,0,0.2);
					> a {
						color: $color-secondary;
					}
			}
		}
	}
}
.secondary-nav-item {
	text-decoration: none;
	text-transform: uppercase;
	color: white;
	font-size: $font-size-micro;
	padding: 0 em(12);
	position: relative;
	@media (max-width: $bp-laptop) {
		display: block;
		width: 100%;
		text-decoration: none;
		text-transform: uppercase;
		color: white;
		font-size: 16px;
		letter-spacing: -0.025em;
		height: 100%;
		padding: em(15) em(25);
		background: rgba(255,255,255,0);
		transition: color .2s;

		padding: em(15) em(25);
		display: block;
		border-bottom: solid 1px rgba(0,0,0,0.3);
		width: 100%;
		font-size: 16px;
		position: relative;
		&:after {
			position: absolute;
			right: 15px;
			top: 0;
			bottom: 0;
			margin: auto;
		}
	}
}

.with-sub-nav:after {
	content: '';
	width: em(12);
	height: 100%;
	margin-left: em(10);
	background: url(../images/icon-down-arrow.svg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	@media (max-width: $bp-laptop) {
		position: absolute;
		right: 15px;
		top: 0;
		bottom: 0;
		margin: auto;
	}
}
/************************************************
Social Nav
************************************************/

.social-nav {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	list-style: none;
	padding-right: em(25);
	li {
		height: 100%;
		list-style: none;
		display: flex;
		transition: background .4s;
	}
	@media (max-width: $bp-laptop) {
		margin: 0;
		padding: 0;
		background-color: $color-primary-dark;
		width: 100%;
		height: em(60);
		font-size: 90%;
		justify-content: flex-start;
		padding: 0 20px;
	}
}
.social-icon {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	padding: 0 em(12);
	svg {
		height: em(18);
		width: auto;
		display: block;
		transition: all .3s;
		path, circle {
			fill: $color-secondary;
			transition: fill .3s;
		}
	}
	 &:hover {
		 svg {
			path, circle  {
				fill: white;
			}
		}
	}
}

/********************************************
Hamburger
*********************************************/

.hamburger {
	display: none;
	position: absolute;
	top: em(20);
	right: 0;
	margin: auto;
	z-index: 4;
	@media (max-width: $bp-laptop ) {
		display: flex;
		flex-grow: 1;
		align-items: center;
		justify-content: flex-end;
		padding-right: em(20);
	}
}
.hamburger-icon {
	width: 40px;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: flex-end;

	span {
		width: 34px;
		height: 4px;
		background-color: white;
		position: relative;
		display: block;
		&:before {
			@extend %pseudos;
			height: 4px;
			top: -7px;
			width: 100%;
			right: 0;
			background-color: white;
			transition: all .2s;
		}
		&:after {
			@extend %pseudos;
			height: 4px;
			bottom: -7px;
			width: 85%;
			right: 0;
			background-color: white;
			transition: all .2s;
		}
		.js-nav-open & {
			background-color: $color-secondary;
			width: 55%;
			&:before {
				top: -3px;
    			width: 60%;
    			right: -3px;
			    transform: rotate(45deg);
			    background-color: $color-secondary;
			}
			&:after {
				bottom: -3px;
    			width: 60%;
    			right: -3px;
			    transform: rotate(-45deg);
			    background-color: $color-secondary;
			}
		}
	}
}
