@import url('//cdn-images.mailchimp.com/embedcode/classic-10_7.css');

#js-hidden {
	display: none;
}
#mc_embed_signup_scroll h2 {
	line-height: 1;
	font-family: $font-title-inline;
	font-size: $font-size-medium;
	text-transform: uppercase;
	color: $color-primary;
	display: inline block;
	text-align: left;
}
#mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }